/* App.css */
.App-logo {
  height: 40vmin;
  pointer-events: none;
  /* animation: rotate infinite 5s linear; */
}

@keyframes rotate {
  from {
    transform: rotate(0deg); /* Rotate from 0 degrees */
  }
  to {
    transform: rotate(360deg); /* Rotate to 360 degrees (full circle) */
  }
}
.album-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the min and max width as needed */
  grid-gap: 20px; /* Space between the grid items */
  padding: 20px;
  justify-content: center;
}

.album-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black; /* Optional border */
  padding: 10px;
  background-color: white; /* Optional background color */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional shadow for better visibility */
}
/* App.css */
.carousel-section {
  background-color: #00bfff; /* Example: set your desired background color */
  padding: 20px; /* Optional: adjust padding */
  border-radius: 8px; /* Optional: rounded corners */
}

.carousel-section img {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

.product-item {
  padding: 20px; /* Optional: adjust padding */
  background-color: #fff; /* Example: set the background color of the frame */
  border-radius: 8px; /* Optional: rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add shadow */
}



.featured-products {
  margin-bottom: 4rem;
  background-color: #f7fafc;
}

.product-grid {
  display: grid;
  gap: 1.5rem;
}

.product-card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.promo-banners .promo-banner {
  margin-bottom: 2rem;
}

.customer-testimonials {
  margin-bottom: 4rem;
}

.testimonials {
  display: grid;
  gap: 1.5rem;
}

.testimonial {
  background-color: #f7fafc;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.select-category {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.select-category select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.App-header {
  background-color: #900606;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: white;
}

.App-link {
  color: #e0e70e;
}

.bold-red {
  color: red;
  font-weight: bold;
}

.yellow {
  color: #e7d616;
  font-weight: bold;
}